CONCLUSION cloud-access = FLOW IO (http OR $http) -> IO (cloud)
WHEN CONCLUSION cloud-access => EMIT {
  title: "Directory Traversal: HTTP data used for accessing cloud data {{via `$paramname`}} {{in `$methodname`}}",
  description: "Data from HTTP methods is not escaped, hashed or encoded and used to access files that are located in a cloud storage. This indicates a directory traversal or an arbitrary file read. 

## Countermeasures

This vulnerability can be prevented by validating HTTP data (preferably on server-side by means of common input sanitation libraries or whitelisting) before using it (e.g., ensure that attackers cannot define file paths through HTTP requests).

## Additional information

**[CWE-22](https://cwe.mitre.org/data/definitions/22.html)**

**[OWASP-A5](https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A5-Broken_Access_Control)**",
  category: "a5-broken-access-control",
  score: "8.0",
  vulnerability_description: "Directory Traversal",
  cwe_link: "https://cwe.mitre.org/data/definitions/22.html",
  link: "https://cwe.mitre.org/data/definitions/22.html",
  owasp_link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A5-Broken_Access_Control"
}

