CONCLUSION cloud-access = FLOW DATASOURCE (attacker-controlled) -> DATA (NOT numeric) -> IO (cloud)
WHEN CONCLUSION cloud-access => EMIT {
  title: "Attacker-Controlled Data Used for Accessing Cloud Data {{via `$paramname`}} {{in `$methodname`}}",
  description: "Attacker-controlled data is used in a path to access files in a cloud storage. This indicates a directory traversal vulnerability.",
  description_suffix_file: "io/shiftleft/descriptions/dir-trav.md",
  score: "8.0",
  vulnerability_description: "Directory Traversal",
  cwe_category: "22"
}
CONCLUSION cloud-access-http = FLOW IO ((http OR $http OR httpClient OR $httpClient OR httpHeader OR $httpHeader OR httpClientHeader OR $httpClientHeader) AND NOT session) -> DATA (NOT numeric AND NOT attacker-controlled) -> IO (cloud)
WHEN CONCLUSION cloud-access-http => EMIT {
  title: "HTTP Data Used for Accessing Cloud Data {{via `$paramname`}} {{in `$methodname`}}",
  description: "Data from a HTTP request or response is used in a path to access files in a cloud storage. This indicates a directory traversal vulnerability.",
  description_suffix_file: "io/shiftleft/descriptions/dir-trav.md",
  score: "8.0",
  vulnerability_description: "Directory Traversal",
  cwe_category: "22"
}

CONCLUSION cloud-store-uri = FLOW DATASOURCE (attacker-controlled) -> DATA (cloudStoreUri) -> IO (http OR httpClient)
WHEN CONCLUSION cloud-store-uri => EMIT {
  title: "Attacker-controlled Data Used for Accessing Arbitrary Cloud Data {{via `$paramname`}} {{in `$methodname`}}",
  description: "Attacker-controlled data is used in a path to access files from cloud storage. This indicates a directory traversal vulnerability.",
  description_suffix_file: "io/shiftleft/descriptions/dir-trav.md",
  category: "a5-broken-access-control",
  score: "8.0",
  vulnerability_description: "Directory Traversal",
  cwe_category: "22"
}

