####
# Environment to outside
####

# Removed the conclusions. They generated too many irrelevant results, that needed to be explained
# CONCLUSION env-to-path = FLOW IO (environment AND path) -> IO (path AND write)
# CONCLUSION env-to-path-to-http = FLOW IO (environment AND path) -> IO (file AND http)


CONCLUSION env-to-outside = FLOW IO (environment) -> IO ((http OR $http OR httpHeader OR $httpHeader OR httpClient OR $httpClient OR httpClientHeader OR $httpClientHeader OR ssrf) AND NOT session AND NOT html AND NOT $html)
WHEN CONCLUSION env-to-outside => EMIT {
  title: "Environment Leak to HTTP {{via HTTP Parameter `$paramname`}} {{in `$methodname`}}",
  description: "Information from environment variables is exposed via HTTP. This may be a leak of sensitive data.",
  description_suffix_file: "io/shiftleft/descriptions/sensitive-data-leak.md",
  category: "a3-sensitive-data-exposure",
  score: "3.0",
  vulnerability_description: "Sensitive Data Leak",
  link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A3-Sensitive_Data_Exposure",
  cwe_category:"200"
}

CONCLUSION env-to-println = FLOW IO (environment) -> IO (print)
WHEN CONCLUSION env-to-println => EMIT {
  title: "Environment Leak to Console {{via `$paramname`}} {{in `$methodname`}}",
  description: "Information from environment variables is printed on the console where it can be viewed by unauthorized people with access to it, such as system administrators. This may be a leak of sensitive data.",
  description_suffix_file: "io/shiftleft/descriptions/sensitive-data-leak.md",
  category: "a3-sensitive-data-exposure",
  score: "3.0",
  vulnerability_description: "Sensitive Data Leak",
  link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A3-Sensitive_Data_Exposure",
  cwe_category:"200"
}

CONCLUSION env-to-file = FLOW IO (environment AND NOT path) -> IO ((file OR $file) AND NOT filePath)
WHEN CONCLUSION env-to-file => EMIT {
  title: "Environment Leak to File {{via `$paramname`}} {{in `$methodname`}}",
  description: "Information from environment variables is written to a file. Depending on who can access this file, this may be a leak of sensitive data.",
  description_suffix_file: "io/shiftleft/descriptions/sensitive-data-leak.md",
  category: "a3-sensitive-data-exposure",
  score: "3.0",
  vulnerability_description: "Sensitive Data Leak",
  link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A3-Sensitive_Data_Exposure",
  cwe_category:"200"
}

