####
# Data to HTTP
####
# Removed the following conclusion, because it was/is too generic. Customer complained that the finding is a common behavior.
# CONCLUSION database-to-http = FLOW IO (database) -> IO (http)
####



CONCLUSION sensitive-to-http = FLOW DATASOURCE (tokens OR authentication OR certificates OR internal-keys OR medical OR pii OR payment-data) -> IO ((http OR httpHeader OR httpClient OR httpClientHeader OR ssrf OR cookie OR (write AND ($http OR $httpHeader OR $httpClient OR $httpClientHeader))) AND NOT grpc)
WHEN CONCLUSION sensitive-to-http => EMIT {
  title: "Sensitive Data Contained in HTTP Request/Response {{via `$paramname`}} {{in `$methodname`}}",
  description: "Sensitive data is included in an HTTP request or response. This could result in sensitive data exposure if the endpoint lacks suitable authentication or is not a trusted domain.",
  description_suffix_file: "io/shiftleft/descriptions/sensitive-data-leak.md",
  score: "2.5",
  vulnerability_description: "Sensitive Data Usage",
  link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A3-Sensitive_Data_Exposure",
  cwe_category: "200"
}

CONCLUSION cache-to-http = FLOW IO (cache) -> IO (http OR $http OR httpHeader OR $httpHeader OR httpClient OR $httpClient OR httpClientHeader OR $httpClientHeader)
WHEN CONCLUSION cache-to-http => EMIT {
  title: "Data From Cache to HTTP {{via `$paramname`}} {{in `$methodname`}}",
  description: "Data from cache is used in HTTP request/response.


## Countermeasures

 This vulnerability can be prevented by ensuring that the data is encrypted/hashed with strong up-to-date standard algorithms.

## Additional information

**[CWE-200](https://cwe.mitre.org/data/definitions/200.html)**

**[OWASP-A3](https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A3-Sensitive_Data_Exposure)**",
  score: "3.0",
  vulnerability_description: "Sensitive Data Leak",
  link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A3-Sensitive_Data_Exposure",
  cwe_category: "200"
}

CONCLUSION open-redirect = FLOW DATASOURCE (attacker-controlled) -> DATA (NOT escaped AND NOT numeric) -> IO (((http OR $http OR httpHeader OR $httpHeader OR httpClient OR $httpClient OR httpClientHeader OR $httpClientHeader) AND $redirect) OR redirect)
WHEN CONCLUSION open-redirect => EMIT {
  title: "Attacker-Controlled Data is Used in HTTP Redirects {{via `$paramname`}} {{in `$methodname`}}",
  description: "Attacker-controlled data is not escaped and used in a HTTP redirect. This indicates an open redirect vulnerability. It may also allow for response splitting, session fixation or cross-site scripting attacks.",
  description_suffix_file: "io/shiftleft/descriptions/open-redirect.md",
  score: "4.0",
  vulnerability_description: "Open Redirect",
  cwe_category: "601"
}
CONCLUSION open-redirect-http = FLOW IO ((http OR $http OR httpClient OR $httpClient OR httpHeader OR $httpHeader OR httpClientHeader OR $httpClientHeader) AND NOT session) -> DATA (NOT escaped AND NOT numeric AND NOT attacker-controlled) -> IO (((http OR $http OR httpHeader OR $httpHeader OR httpClient OR $httpClient OR httpClientHeader OR $httpClientHeader) AND $redirect) OR redirect)
WHEN CONCLUSION open-redirect-http => EMIT {
  title: "HTTP Request/Response Data is Used in HTTP Redirects {{via `$paramname`}} {{in `$methodname`}}",
  description: "HTTP request/response data is not escaped and used in a HTTP redirect. This indicates an open redirect vulnerability. It may also allow for response splitting, session fixation or cross-site scripting attacks.",
  description_suffix_file: "io/shiftleft/descriptions/open-redirect.md",
  score: "4.0",
  vulnerability_description: "Open Redirect",
  link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A1-Injection",
  cwe_category: "601"
}

CONCLUSION exceptionStackTrace-to-http = FLOW IO (exceptionStackTrace) -> IO (http OR $http OR httpClient OR $httpClient OR httpClientHeader OR $httpClientHeader OR html OR $html)
WHEN CONCLUSION exceptionStackTrace-to-http => EMIT {
  title: "Exception Stack Trace Leaked to HTTP Response {{via `$paramname`}} {{in `$methodname`}}",
  description: "Potentially sensitive information is disclosed in the HTTP reponse via the exception stack trace. This indicates a sensitive data leak.",
  description_suffix_file: "io/shiftleft/descriptions/sensitive-data-leak.md",
  score: "3.0",
  vulnerability_description: "Sensitive Data Leak",
  link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A3-Sensitive_Data_Exposure",
  cwe_category: "200"
}

CONCLUSION security-miscfg = FLOW IO (exception AND NOT exceptionStackTrace) -> IO (html OR ($html AND http))
WHEN CONCLUSION security-miscfg => EMIT {
  title: "Exception Message Used in HTML Response {{via `$paramname`}} {{in `$methodname`}}",
  description: "Data from an exception is sent in a HTML response. This indicates a sensitive data leak.",
  description_suffix_file: "io/shiftleft/descriptions/sensitive-data-leak.md",
  score: "2.0",
  vulnerability_description: "Sensitive Data Leak",
  link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A3-Sensitive_Data_Exposure",
  cwe_category:"200"
}
CONCLUSION exception-to-json = FLOW IO (exception AND NOT exceptionStackTrace) -> IO (json OR ($json AND http))
WHEN CONCLUSION exception-to-json => EMIT {
  title: "Exception Message Used in JSON Response {{via `$paramname`}} {{in `$methodname`}}",
  description: "Data from an exception is sent in a JSON response. This indicates a sensitive data leak.",
  description_suffix_file: "io/shiftleft/descriptions/sensitive-data-leak.md",
  score: "2.0",
  vulnerability_description: "Sensitive Data Leak",
  link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A3-Sensitive_Data_Exposure",
  cwe_category:"200"
}

CONCLUSION exception-handler-leak = FLOW IO (exception AND NOT exceptionStackTrace) -> IO (exceptionHandlerResponse OR $exceptionHandlerResponse OR httpErrorMessage)
WHEN CONCLUSION exception-handler-leak => EMIT {
  title: "Exception Data Leaked in HTTP Response {{via `$paramname`}} {{in `$methodname`}}",
  description: "Data from an exception is sent in a HTTP response. This indicates a sensitive data leak.",
  description_suffix_file: "io/shiftleft/descriptions/sensitive-data-leak.md",
  score: "2.0",
  vulnerability_description: "Error Handling",
  link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A3-Sensitive_Data_Exposure",
  cwe_category:"200"
}

CONCLUSION error-leak = FLOW IO (errorMessage) -> DATA (NOT numeric) -> IO (http OR httpClient OR httpHeader OR httpClientHeader OR templateData)
WHEN CONCLUSION error-leak => EMIT {
  title: "Error Message is Leaked in HTTP Response {{via `$paramname`}} {{in `$methodname`}}",
  description: "The contents of an error message or exception are sent in a HTTP response.",
  description_suffix_file: "io/shiftleft/descriptions/sensitive-data-leak.md",
  score: "2.0",
  vulnerability_description: "Sensitive Data Exposure",
  owasp_link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A3-Sensitive_Data_Exposure",
  link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A3-Sensitive_Data_Exposure",
  cwe_link:"https://cwe.mitre.org/data/definitions/200.html",
  cwe_category:"200"
}


CONCLUSION prometheusMetrics-to-http = FLOW IO (prometheusMetrics) -> IO (http OR httpClient OR httpHeader OR httpClientHeader)
WHEN CONCLUSION prometheusMetrics-to-http => EMIT {
  title: "Prometheus Metrics Leaked to HTTP Response {{via `$paramname`}} {{in `$methodname`}}",
  description: "Prometheus metrics are exposed over HTTP. These metrics usually contain sensitive system information and potentially also user data, making this a sensitive data leak.",
  description_suffix_file: "io/shiftleft/descriptions/sensitive-data-leak.md",
  score: "2.0",
  vulnerability_description: "Sensitive Data Leak",
  link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A3-Sensitive_Data_Exposure",
  cwe_category: "200"
}

CONCLUSION executable-to-http = FLOW IO (executableInfo) -> IO (http OR httpHeader)
WHEN CONCLUSION executable-to-http => EMIT {
  title: "Exposure of Software Stack in HTTP Response {{via `$paramname`}} {{in `$methodname`}}",
  description: "The application sends information (e.g. version, name) about the running web application over HTTP.

Attackers who know about the software stack in use can better target their attacks.

## Countermeasures

Do not send information about the running executable in production in HTTP responses, unless running in a development environment. You can log such information in conjunction with a unique per-request identifier to give authorized developers access to this information without exposing it to every user.

## Additional information

**[CWE-497](https://cwe.mitre.org/data/definitions/497.html)**",
  score: "4.5",
  vulnerability_description: "Fingerprinting",
  cwe_category: "497"
}

IO iframe-src = METHOD -n "set_IFrameSrc" { PAR -i 1 "SINK" }
CONCLUSION attacker-to-iframe-src = FLOW DATASOURCE (attacker-controlled) -> DATA (NOT escaped AND NOT encoded AND NOT encrypted AND NOT numeric) -> IO (iframe-src)
WHEN CONCLUSION attacker-to-iframe-src => EMIT {
  title: "Attacker-Controlled Data is Used for Iframe URL {{via `$paramname`}} {{in `$methodname`}}",
  description: "The URL that is loaded in an iframe is attacker-controlled. This indicates a phishing vulnerability.

## Countermeasures

- URL-encode any attacker-controlled data that you use as part of a URL (e.g. as query string parameters).
- Ensure you only load iframes from trusted origins.
- Ensure the regular site provides design cues that make it clear the iframe is separate and should not be trusted with e.g. password information.

## Additional information

**[CWE-1021](https://cwe.mitre.org/data/definitions/1021.html)**",
  score: "6.0",
  vulnerability_description: "Phishing",
  cwe_category: "1021"
}
