CONCLUSION atttacker-unverified-jwt = FLOW DATASOURCE (attacker-controlled) -> IO (unverifiedJWTParse)
WHEN CONCLUSION atttacker-unverified-jwt => EMIT {
  title: "Unverified Use of Attacker-Controlled JWT Token {{via `$paramname`}} {{in `$methodname`}}",
  description: "A JWT token controlled by an attacker is parsed but not verified. This indicates an authentication bypass vulnerability.",
  description_suffix_file: "io/shiftleft/descriptions/authentication-bypass.md",
  score: "7.5",
  vulnerability_description: "Insecure Authentication",
  cwe_category: "347",
  cwe_category: "288"
}
