####
# Data to mail
####

CONCLUSION mail-injection = FLOW DATASOURCE (attacker-controlled) -> DATA (NOT encrypted AND NOT hashed AND NOT encoded AND NOT session AND NOT numeric) -> IO (mail)
WHEN CONCLUSION mail-injection => EMIT {
  title: "Attacker-Controlled Data is Used in E-mails {{via `$paramname`}} {{in `$methodname`}}",
  description: "Data from an attacker-controlled source is used in a method that sends Emails. This indicates a mail injection vulnerability.",
  description_suffix_file: "io/shiftleft/descriptions/mail-injection.md",
  score: "6.0",
  vulnerability_description: "Mail Injection",
  cwe_category: "159",
  cwe_category: "93"
}
CONCLUSION http-to-mail = FLOW IO ((http OR httpClient OR httpHeader OR httpClientHeader) AND NOT session) -> DATA (NOT encrypted AND NOT hashed AND NOT encoded AND NOT session AND NOT numeric AND NOT attacker-controlled) -> IO (mail)
WHEN CONCLUSION http-to-mail => EMIT {
  title: "HTTP Data is Used in E-mails {{via `$paramname`}} {{in `$methodname`}}",
  description: "Data from HTTP requests is not escaped, hashed or encoded and used in a method that sends Emails. This indicates a mail injection vulnerability.",
  description_suffix_file: "io/shiftleft/descriptions/mail-injection.md",
  score: "6.0",
  vulnerability_description: "Mail Injection",
  cwe_category: "159",
  cwe_category: "93"
}
