CONCLUSION attacker-controlled-to-nosql = FLOW DATA (attacker-controlled AND NOT encrypted AND NOT hashed AND NOT encoded AND NOT escaped) -> IO (mongoDb)
WHEN CONCLUSION attacker-controlled-to-nosql => EMIT {
  title: "NoSQL Injection: Attacker-controlled data to NoSQL database {{via `$paramname`}} {{in `$methodname`}}",
  description: "Attacker controlled data is used in a NoSQL query without undergoing escaping or validation. This could allow an attacker to read sensitive data from the database, modify its content or gain control over the server.


## Countermeasures

This vulnerability can be prevented by using prepared statements on the attacker-controlled data.

## Additional information

**[CWE-89](https://cwe.mitre.org/data/definitions/943.html)**

**[OWASP-A1](https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A1-Injection)**",
  category: "a1-injection",
  score: "9.0",
  vulnerability_description: "NoSQL Injection",
  owasp_link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A1-Injection",
  link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A1-Injection",
  cwe_link: "https://cwe.mitre.org/data/definitions/943.html"
}


CONCLUSION http-to-nosql = FLOW IO (http OR $http) -> DATA (NOT encrypted AND NOT hashed AND NOT encoded AND NOT escaped) -> IO (mongoDb)
WHEN CONCLUSION http-to-nosql => EMIT {
  title: "NoSQL Injection: HTTP data to NoSQL database {{via `$paramname`}} {{in `$methodname`}}",
  description: "HTTP request data is used in a NoSQL query without undergoing escaping or validation. This could allow an attacker to read sensitive data from the database, modify its content or gain control over the server.


## Countermeasures

This vulnerability can be prevented by using prepared statements on the attacker-controlled data.

## Additional information

**[CWE-89](https://cwe.mitre.org/data/definitions/943.html)**

**[OWASP-A1](https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A1-Injection)**",
  category: "a1-injection",
  score: "9.0",
  vulnerability_description: "NoSQL Injection",
  owasp_link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A1-Injection",
  link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A1-Injection",
  cwe_link: "https://cwe.mitre.org/data/definitions/943.html"
}
