####
# Data to session
####
# TODO: the "session injection" explained in collab-vuln-description is different from what we find here

CONCLUSION session-injection-attacker-controlled = FLOW DATASOURCE (attacker-controlled) -> DATA (NOT encrypted AND NOT hashed AND NOT encoded AND NOT escaped) -> IO ((http OR $http) AND session)
WHEN CONCLUSION session-injection-attacker-controlled => EMIT {
  title: "Attacker-controlled Data to Session Attribute {{via `$paramname`}} {{in `$methodname`}}",
  description: "Attacker controlled data is used as session attribute without undergoing escaping or validation. Injection flaws, such as SQL, NoSQL, OS, and LDAP injection, occur when untrusted data is sent to an interpreter as part of a command or query. By injecting hostile data, an attacker may trick the interpreter into executing unintended commands or accessing data without authorization which can result in data loss, corruption, or disclosure to unauthorized parties, loss of accountability, denial of access or even a complete host takeover.


## Countermeasures

This vulnerability can be prevented by sanitizing and validating the attacker-controlled data before storing it as session attribute.

## Additional information

**[CWE-384](https://cwe.mitre.org/data/definitions/384.html)**

**[OWASP-A2](https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A2-Broken_Authentication)**",
  score: "2.0",
  vulnerability_description: "Session Injection",
  link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A2-Broken_Authentication",
  cwe_category: "384"
}

CONCLUSION session-injection-http = FLOW IO ((http OR $http) AND NOT session) -> DATA (NOT encrypted AND NOT hashed AND NOT encoded AND NOT escaped AND NOT attacker-controlled) -> IO ((http OR $http) AND session)
WHEN CONCLUSION session-injection-http => EMIT {
  title: "HTTP Data to Session Attribute {{via `$paramname`}} {{in `$methodname`}}",
  description: "HTTP data is used as session attribute without undergoing escaping or validation. Injection flaws occur when untrusted data is sent to an interpreter as part of a command or query. By injecting hostile data, an attacker may trick the interpreter into executing unintended commands or accessing data without authorization which can result in data loss, corruption, or disclosure to unauthorized parties, loss of accountability, denial of access or even a complete host takeover.


## Countermeasures

This vulnerability can be prevented by sanitizing and validating the HTTP data before storing it as session attribute.

## Additional information

**[CWE-384](https://cwe.mitre.org/data/definitions/384.html)**

**[OWASP-A2](https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A2-Broken_Authentication)**",
  score: "2.0",
  vulnerability_description: "Session Injection",
  link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A2-Broken_Authentication",
  cwe_category: "384"
}

