CONCLUSION ssrf = FLOW IO (http OR $http) -> IO (ssrf)
WHEN CONCLUSION ssrf => EMIT {
     title: "Server-Side Request Forgery: {{via `$paramname`}} {{in `$methodname`}}",
     description: "Data from HTTP requests is used in the application logic without appropriate validation. By sending specially-crafted requests, an attacker could retrieve sensitive information, gain access to administrative services, or execute arbitrary commands on the system.

## Countermeasures

To prevent this vulnerability, validate HTTP request data before using it to return information to the user.

## Additional information

**[CWE-918](https://cwe.mitre.org/data/definitions/918.html)**

**[OWASP-A5](https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A5-Broken_Access_Control)**

**[OWASP Description of SSRF](https://owasp.org/www-community/attacks/Server_Side_Request_Forgery)**",
     category: "A5-Broken_Access_Control",
     score: "7.0",
     vulnerability_description: "SSRF",
     owasp_link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A5-Broken_Access_Control",
     link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A5-Broken_Access_Control",
     cwe_link: "https://cwe.mitre.org/data/definitions/918.html"
}
