####
# XPATHi
####

CONCLUSION xpath-injection-attacker-controlled = FLOW DATASOURCE (attacker-controlled) -> DATA (NOT encrypted AND NOT hashed AND NOT encoded AND NOT escaped AND NOT numeric) -> IO (xpath)
WHEN CONCLUSION xpath-injection-attacker-controlled => EMIT {
  title: "Attacker-controlled Data Used in XPath Query {{via `$paramname`}} {{in `$methodname`}}",
  description: "Attacker controlled data is used in an XPath query without undergoing sanitization or validation. This indicates an XPath injection vulnerability.",
  description_suffix_file: "io/shiftleft/descriptions/xpath-injection.md",
  category: "a1-injection",
  score: "9.0",
  vulnerability_description: "XPath Injection",
  link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A1-Injection",
  cwe_category: "643"
}

CONCLUSION xpath-injection-http = FLOW IO ((http OR $http OR httpClient OR $httpClient OR httpHeader OR $httpHeader OR httpClientHeader OR $httpClientHeader) AND NOT session) -> DATA (NOT attacker-controlled AND NOT encrypted AND NOT hashed AND NOT encoded AND NOT escaped AND NOT numeric) -> IO (xpath)
WHEN CONCLUSION xpath-injection-http => EMIT {
  title: "HTTP Data Used in XPath Query {{via `$paramname`}} {{in `$methodname`}}",
  description: "HTTP data is used in an XPath query without undergoing sanitization or validation. This indicates an XPath injection vulnerability.",
  description_suffix_file: "io/shiftleft/descriptions/xpath-injection.md",
  category: "a1-injection",
  score: "9.0",
  vulnerability_description: "XPath Injection",
  link: "https://owasp.org/www-project-top-ten/OWASP_Top_Ten_2017/Top_10-2017_A1-Injection",
  cwe_category: "643"
}

