# This workflow integrates ShiftLeft NG SAST with GitHub
# Visit https://docs.shiftleft.io for help
name: Analyze with ShiftLeft NG SAST

on:
  schedule:
    - cron: "0 * * * *"
  push:
  pull_request:
    branches:
      - master

jobs:
  Inspect-Build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Download ShiftLeft cli
      run: |
        Invoke-WebRequest -Uri 'https://cdn.shiftleft.io/download/sl-latest-windows-x64.zip' -OutFile sl.zip
        Expand-Archive -Path sl.zip -DestinationPath .
    - name: Build console app
      run: dotnet build ${GITHUB_REPOSITORY//\//-}
    - name: Analyze with NG SAST
      run: .\sl analyze --no-diagnostic --force --app ${GITHUB_REPOSITORY//\//-} --tag branch=$Env:GITHUB_REF --csharp --dotnet-core --cpg ${GITHUB_REPOSITORY//\//-}/${GITHUB_REPOSITORY//\//-}/${GITHUB_REPOSITORY//\//-}.csproj
      env:
        SHIFTLEFT_ORG_ID: ${{ secrets.SHIFTLEFT_ORG_ID }}
        SHIFTLEFT_ACCESS_TOKEN: ${{ secrets.SHIFTLEFT_ACCESS_TOKEN }}
    - name: Create status check
      run: |
        URL="https://www.shiftleft.io/violationlist/${GITHUB_REPOSITORY//\//-}?apps=${GITHUB_REPOSITORY//\//-}&isApp=1"
        GH_CHECK_URL="https://api.github.com/repos/${GITHUB_REPOSITORY}/check-runs"
        curl -XPOST $GH_CHECK_URL -H "Authorization: Token ${GITHUB_TOKEN}" -H "accept: application/vnd.github.antiope-preview+json" -H "Content-Type: application/json" -d "{\"name\": \"ShiftLeft NG SAST\", \"head_sha\": \"${GITHUB_REF}\", \"external_id\": \"${GITHUB_REPOSITORY//\//-}\", \"details_url\": \"${URL}\", \"status\": \"completed\", \"conclusion\": \"action_required\", \"output\": {\"title\": \"ShiftLeft NG SAST Findings\", \"summary\": \"Visit ${URL} for the findings\"}}"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
